{% block showcar %}
<h1>Donation {{car.id}} details</h1>
<div class="card" style="width: 18rem;">
    <img src="{{donation.image.url}}" class="card-img-top" alt="car image" />
    <div class="card-body">
      <h5 class="card-title">Name : {{donation.Name}}</h5>
      <p class="card-title">Description : {{donation.Description}}</p>
      <p class="card-title">Targetprice : {{donation.Targetprice}}</p>
      <a href="{% url 'viewDonation' %}" class = "btn btn-primary" 
      >Show All Processes</a>
    </div>
  </div>
  {% endblock showcar %}